/* OrderDetailsPage.css */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .loading-message {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .order-details-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .order-details-container p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .ordered-crops-list {
    list-style: none;
    padding: 0;
  }
  
  .ordered-crops-list li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .proceed-button {
    background-color: lightcoral;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .proceed-button:hover {
    background-color: #0056b3;
  }
  