.addcrop-card {
  display: flex;

  flex-direction: column;

  align-items: center;

  width: auto;

  /* background-color: #ffffff;

    background-color: #f6fded; */
}

.add-crop {
  margin-top: 10px;

  background-color: #d5f4d5;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  display: flex;

  flex-direction: column;

  align-items: center;

  width: 400px;

  border: 1px solid black;

  padding: 10px;

  border-radius: 6px;
}

.add-crop h2 {
  margin-top: 5px;

  margin-bottom: 12px;

  color: black;
}

.add-crop label {
  display: -webkit-box;

  font-weight: bolder;

  text-decoration: wavy;

  color: black;

  font-family: "Times New Roman", Times, serif;

  margin-bottom: 3px;
}

.add-crop input,
.add-crop select {
  background-color: white;

  padding: px;

  margin-bottom: 8px;

  border: none;

  border-radius: 4px;

  padding: 3px;

  width: 350px;

  height: 20px;

  font-size: 14px;

  /* font-family: monospace; */
}

.add-crop input:focus,
.add-crop select:focus {
  outline: none;

  border-color: #36393f;
}

.add-crop button[type="submit"] {
  align-items: center;

  background-color: #61b161;

  color: #ffffff;

  /* padding: 10px 20px; */

  border: none;

  height: 25px;

  margin-top: 10px;

  width: 60%;

  border-radius: 5px;

  font-size: 16px;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.add-crop button[type="submit"]:hover {
  background-color: #275327;

  color: #ffffff;
}

.buttons-div {
  align-items: center;

  display: flex;

  flex-direction: column;
}
